.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    border-radius: 2px;
    border: 1px solid dimgray;
    height: 250px;
    width: 250px;
    text-align: center;
}
.card:hover {
    -webkit-box-shadow: 10px 10px 5px -10px rgba(133,133,133,1);
    -moz-box-shadow: 10px 10px 5px -10px rgba(133,133,133,1);
    box-shadow: 10px 10px 5px -10px rgba(133,133,133,1);
}

.card-content {
    padding: 1em;
    height: 100%;
    color: dimgray;
    font-size: 24px;
}